<div id="mapControl" style="height: 100px;">
	<span class="quest">
		Ziel: <span class="questname">nichts</span>
		<a class="wikipedia-link" target="_blank" href="https://de.wikipedia.org">&#9432;</a>
	</span>

	<div class="action_buttons">
	
		<button class="action_button_hint"
		  style="display: inline;padding: 0px 0px;"
		  onclick="requestHint();"
		  title="Blendet einen Tipp zum n채hsten Ziel ein">
		    <img style="width:50px" src="/assets/images/buttons/getTip.png"/>
		</button>
	    
	    <button class="action_button_additional_quest"
	       style="display: inline;padding: 0px 0px;"
	       onclick="getQuests();this.style.display='none';"
	       title="F체gt ein zuf채lliges Ziel aus der Umgebung hinzu">
	         <img style="width:50px" src="/assets/images/buttons/newQuest.png"/>
	    </button>
	
	    <button class="action_button_nearest_quest"
	       style="display: inline;padding: 0px 0px;"
	       onclick="newNearestQuest();"
	       title="F체gt das Ziel mit der wenigsten Entfernung hinzu">
	         <img style="width:50px;max-height:50px" src="/assets/images/buttons/proximity.png"/>
	    </button>
	    
	    <button class="action_button_zoom"
	       style="display: inline;padding: 0px 0px;"
	       onclick="activateZoom(true);map.zoomOut(2);this.style.display='none';"
	       title="Zoom Buttons einblenden">
	         <img style="width:50px;max-height:50px" src="/assets/images/buttons/magnifier.png"/>
	    </button>

	</div>

</div>

<div id="mainzModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Neues Ziel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="questName"></p>
        <div class="spinner-border text-secondary" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
        <div style="text-align: center;">
	        <img class="questImage" src="" onload="hideSpinner();" style="display: none;max-width: 100%;"></img>
	    </div>  
      </div>
      <div class="modal-footer">
        <a type="button" target="_blank" class="btn btn-secondary questNameLink">Mehr...</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
