<div id="mapControl" style="height: 100px;">
	Ziel: <span class="questname">nichts</span> <a class="wikipedia-link" target="_blank" href="https://de.wikipedia.org">&#9432;</a> 

	<div class="action_buttons">
	    <button class="action_button_additional_quest" style="display: inline" onclick="startGame();this.style.display='none';">Zufälliges Ziel hinzufügen</button>
		<button class="action_button_nearest_quest" style="display: inline" onclick="newNearestQuest();">Nahes Ziel hinzufügen</button>
		<button class="action_button_hint" style="display: inline" onclick="requestHint();">Tipp einblenden</button>
		<button class="action_button_zoom" style="display: inline" onclick="activateZoom(true);this.style.display='none';">Zoom Buttons einblenden</button>
	</div>

</div>