<div id="mapControl" style="height: 100px;">
	<span class="quest">
		Ziel: <span class="questname">nichts</span>
		<a class="wikipedia-link" target="_blank" href="https://de.wikipedia.org">&#9432;</a>
	</span>

	<div class="action_buttons">
		<button class="action_button_hint" style="display: inline" onclick="requestHint();">Tipp einblenden</button>
	    <button class="action_button_additional_quest" style="display: inline" onclick="startGame();this.style.display='none';">Zufälliges Ziel hinzufügen</button>
		<button class="action_button_nearest_quest" style="display: inline" onclick="newNearestQuest();">Nahes Ziel hinzufügen</button>
		<button class="action_button_zoom" style="display: none" onclick="activateZoom(true);this.style.display='none';">Zoom Buttons einblenden</button>
	</div>

</div>

<div class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Neues Ziel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="questName"></p>
        <img class="questImage" src=""></img>
      </div>
      <div class="modal-footer">
        <a type="button" target="_blank" class="btn btn-primary questNameLink" href="">Mehr...</a>
      </div>
    </div>
  </div>
</div>
