{{> doc-head }}
<body>
    {{> header }}

    <main>
        {{{ contents }}}
    </main>

	<div class="highscore-display"></div>
	
    {{> footer }}
    
    <script src="/assets/js/color.js"></script>
    <script src="/assets/js/highscore.js"></script>
    	
</body>
</html>
